html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
}

.layout-header {
  height: 250px;
  background: #333;
  color: #fff;
  overflow: hidden;
}

.layout-main {
  padding: 15px;
}

.layout-footer {
  height: 100px;
  background: #333;
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-code {
  padding: 5px 10px;
  background: rgba(255, 255, 255, .1);
}

a.btn-download {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  transition: background-color 100ms ease 0s, color 100ms ease 0s;
}

a.btn-download:hover {
  color: #333;
  background: rgba(255, 255, 255, 1);
}
