html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Consolas;
}

body {
  padding: 10px;
}

.main-container {
  margin: 250px auto 0;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th {
  border-left: 1px solid #EEEEEE;
  border-bottom: 2px solid #AAAAAA;
  border-top: 2px solid #EEEEEE;
  padding: 10px;
  text-align: center;
}

td {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px;
  text-align: center;
}

tr td:last-child, tr th:last-child {
  border-right: 1px solid #EEEEEE;
}

td p {
  margin: 0;
  padding: 5px 0;
  text-align: left;
}
